<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Job Board" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <%= render 'layouts/navigation' %>
</nav>
<div class="row">
  <div class="row" id="doc-alert-boxes">
    <%= render 'layouts/notifications' %>
  </div>
  <div class="row large-9 push-3 columns">
    <%= yield %>
  </div>
  <%# render 'layouts/sidebar' %>
</div>

<footer>
  <%= render 'layouts/footer' %>
</footer>

<script>
    $(document).foundation();
</script>
</body>
</html>
